 <!-- About Section -->
    <section class="reverse" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Xin Wang (王鑫) is currently a graduate student in the Department of Physics and
                    Astronomy at University of California Los Angeles.  Before coming to Los Angeles, Xin
                    obtained the Degree of Master of Arts in Physics at University of California Santa Barbara,
                    and the Degrees of Master of Science in Astrophysics and Bachelor of Science in Astronomy at Nanjing University in China.
                    Xin is a core member of the Grism Lens Amplified Survey from Space (GLASS) large Hubble Space
                    Telescope (HST) program,
                    and is a co-I of the approved James Webb Space Telescope (JWST) Early Release Science (ERS) program ID1324.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    Xin studies how gas flows, star formation and galactic feedback influence the cycle
                    of baryons and metals as the key ingredient to the chemo-structural evolution of star-forming
                    galaxies at cosmic noon using spatially resolved spectroscopy.
                    Xin has gained great expertise in the reduction and analysis of 
                    wide-field slitless data acquired by the HST near-infrared grisms.
                    Xin has also been working on modeling the
                    mass distribution of galaxy clusters using strong and weak gravitational lensing signals, and
                    improving the source plane morphological reconstruction of multiply imaged galaxies.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="docs/xwang_cv.pdf" class="btn btn-lg btn-reverse">
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                    <a href="https://ui.adsabs.harvard.edu/#user/libraries/D2s74Q15TomjQ7uGtxK5gQ" class="btn btn-lg btn-reverse">
                        <i class="fa fa-download"></i> ADS Publication Library
                    </a>
                    <a href="https://github.com/albertfxwang" class="btn btn-lg btn-reverse">
                        <i class="fa fa-download"></i> GitHub
                    </a>
                    <a href="https://archive.stsci.edu/prepds/glass/" class="btn btn-lg btn-reverse">
                        <i class="fa fa-download"></i> GLASS program
                    </a>
                    <a href="https://jwst.stsci.edu/observing-programs/approved-ers-programs/program-1324" class="btn btn-lg btn-reverse">
                        <i class="fa fa-download"></i> GLASS JWST-ERS
                    </a>
                </div>
            </div>
        </div>
    </section>
